.item {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: var(--mantine-radius-md);
  min-height: rem(180px);
  background-color: var(--mantine-color-dark-7);
  border: 1px solid var(--mantine-color-dark-4);
  gap: 1rem;
  transition: box-shadow 150ms ease, transform 100ms ease;

  @mixin hover {
    box-shadow: var(--mantine-shadows-md);
    transform: scale(1.05);
  }
}
